@import "tailwindcss";
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(
    to bottom right,
    #f0f9ff,
    #ffffff,
    #e0f2fe
  );
}

html, body {
  width: 100%;
  overflow-x: hidden; /* 🔥 RIGHT SCROLL FIX */
}